In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in business.json
business = pd.read_json('business.json', lines = True, orient = 'records') #Read the file as a json object per line

In [3]:
business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

In [4]:
# Drop the business records that is not open "0"
b_open = business.groupby(by= 'is_open').get_group(1)

# Drop the business records that has no info in the category
#b_open = b_open[b_open[['categories']].isna().values == False]
#b_open.info()

In [5]:
# Drop latitude and longitude columns
b_open = b_open.drop(['is_open', 'postal_code'], axis = 1)

In [348]:
b_open['categories'] = b_open['categories'].astype(str)

In [349]:
b_open['modified_categories'] = b_open['categories'].apply(lambda x: 'Restaurant' if 'Restaurants' in x else 
                                                                            'Food' if 'Food' in x else
                                                                            'Beauty & Spas' if 'Beauty & Spas' in x else
                                                                            'Nightlife' if 'Nightlife' in x else
                                                                            'Event Planning & Services' if 'Event Planning & Services' in x else
                                                                            'Active Life' if 'Active Life' in x else
                                                                            'Automotive' if 'Automotive' in x else
                                                                            'Arts & Entertainment' if 'Arts & Entertainment' in x else
                                                                            'Shopping' if 'Shopping' in x else
                                                                            'Home Services' if 'Home Services' in x else
                                                                            'Health & Medical' if 'Health & Medical' in x else
                                                                            'Local Services' if 'Local Services' in x else
                                                                            'Pets' if 'Pets' in x else
                                                                            'Hotels & Travel' if 'Hotels & Travel' in x else
                                                                            'Education' if 'Education' in x else
                                                                            'Local Flavor' if 'Local Flavor' in x else
                                                                            'Public Services & Government' if 'Public Services & Government' in x else
                                                                            'Financial Services' if 'Financial Services' in x else
                                                                            'Professional Services' if 'Professional Services' in x else
                                                                            'Religious Organizations' if 'Religious Organizations' in x else
                                                                            'Mass Media' if 'Mass Media' in x else
                                                                            'Real Estate' if 'Real Estate' in x else x)

In [350]:
b_open['modified_categories']

1         Local Services
3             Restaurant
4                   Food
5             Restaurant
6               Shopping
               ...
150341     Beauty & Spas
150342          Shopping
150343     Beauty & Spas
150344          Shopping
150345     Beauty & Spas
Name: modified_categories, Length: 119698, dtype: object

In [347]:
'Local' in b_open.loc[1,'categories']

True

In [233]:
b_open['modified_categories'] = np.where(b_open['categories'].str.contains('Active Life'), 'Active Life',
                                         np.where(b_open['categories'].str.contains('Arts & Entertainment'), 'Arts & Entertainment',
                                         np.where(b_open['categories'].str.contains('Automotive'), 'Automotive',
                                         np.where(b_open['categories'].str.contains('Beauty & Spas'), 'Beauty & Spas',
                                         np.where(b_open['categories'].str.contains('Education'), 'Education', 
                                         np.where(b_open['categories'].str.contains('Event Planning & Services'), 'Event Planning & Services',
                                         np.where(b_open['categories'].str.contains('Financial Services'), 'Financial Services', 
                                         np.where(b_open['categories'].str.contains('Food'), 'Food',        
                                         np.where(b_open['categories'].str.contains('Health & Medical'), 'Health & Medical',
                                         np.where(b_open['categories'].str.contains('Home Services'), 'Home Services',
                                         np.where(b_open['categories'].str.contains('Hotels & Travel'), 'Hotels & Travel',
                                         np.where(b_open['categories'].str.contains('Local Flavor'), 'Local Flavor',
                                         np.where(b_open['categories'].str.contains('Local Services'), 'Local Services',         
                                         np.where(b_open['categories'].str.contains('Mass Media'), 'Mass Media',
                                         np.where(b_open['categories'].str.contains('Nightlife'), 'Nightlife',
                                         np.where(b_open['categories'].str.contains('Pets'), 'Pets',
                                         np.where(b_open['categories'].str.contains('Professional Services'), 'Professional Services',
                                         np.where(b_open['categories'].str.contains('Public Services & Government'), 'Public Services & Government',         
                                         np.where(b_open['categories'].str.contains('Real Estate'), 'Real Estate',
                                         np.where(b_open['categories'].str.contains('Religious Organizations'), 'Religious Organizations',         
                                         np.where(b_open['categories'].str.contains('Restaurants'), 'Restaurants', 
                                         np.where(b_open['categories'].str.contains('Shopping'), 'Shopping', 'else'))))))))))))))))))))))

In [235]:
b_open

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours,modified_categories
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,3.0,15,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",Local Services
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,4.0,80,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",Food
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,4.5,13,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...",Food
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,2.0,6,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",Food
6,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,2.5,13,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ...",Shopping
...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,3.0,13,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3...",Beauty & Spas
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,4.0,5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3...",Pets
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,3.5,8,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None,Beauty & Spas
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,4.0,24,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...",Shopping
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,4.5,9,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19...",Beauty & Spas

In [237]:
# Drop business that has average stars lower than the 3
business_cleaned = b_open.loc[b_open['stars'].astype('int') >= 3]
business_cleaned

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours,modified_categories
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,3.0,15,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",Local Services
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,4.0,80,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",Food
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,4.5,13,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...",Food
7,qkRM_2X51Yqxk3btlwAQIg,Temple Beth-El,400 Pasadena Ave S,St. Petersburg,FL,3.5,5,None,"Synagogues, Religious Organizations","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...",Religious Organizations
10,UJsufbvfyfONHeWdvAHKjA,Marshalls,21705 Village Lakes Sc Dr,Land O' Lakes,FL,3.5,6,"{'RestaurantsPriceRange2': '2', 'BikeParking':...","Department Stores, Shopping, Fashion","{'Monday': '9:30-21:30', 'Tuesday': '9:30-21:3...",Shopping
...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,3.0,13,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3...",Beauty & Spas
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,4.0,5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3...",Pets
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,3.5,8,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None,Beauty & Spas
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,4.0,24,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...",Shopping
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,4.5,9,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19...",Beauty & Spas

In [12]:
# Filter out business in the state that has total. business count less than 4
#b4 = business_cleaned.groupby('state').filter(lambda x: x['state'].count() > 4)
#b4.groupby('state').count()

,business_id,name,address,city,postal_code,stars,review_count,attributes,categories,hours
state,,,,,,,,,,
AB,1898,1898,1898,1898,1898,1898,1898,1704,1898,1687
AZ,4101,4101,4101,4101,4101,4101,4101,3712,4101,3710
CA,2902,2902,2902,2902,2902,2902,2902,2613,2902,2529
DE,761,761,761,761,761,761,761,697,761,661
FL,11175,11175,11175,11175,11175,11175,11175,10137,11172,10076
ID,2086,2086,2086,2086,2086,2086,2086,1920,2086,1912
IL,711,711,711,711,711,711,711,647,711,613
IN,4596,4596,4596,4596,4596,4596,4596,4207,4596,4029
LA,4283,4283,4283,4283,4283,4283,4283,3965,4281,3717
MO,4108,4108,4108,4108,4108,4108,4108,3766,4107,3716
NJ,3091,3091,3091,3091,3091,3091,3091,2843,3091,2724
NV,3591,3591,3591,3591,3591,3591,3591,3240,3588,3177
PA,13218,13218,13218,13218,13218,13218,13218,12107,13215,11675
TN,4773,4773,4773,4773,4773,4773,4773,4377,4771,4400

In [25]:
# Read in user.json for user information with chunkcing
#chunk_size = 100000
#batch_no = 1
#for chunk in pd.read_json('user.json',lines = True,chunksize = chunk_size):
    #chunk.to_csv('user'+str(batch_no)+'.csv',index = False)
    #batch_no += 1

In [13]:
#user1 = pd.read_csv('user1.csv')

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,NaN,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,P6a7RG2Kk6hK5Dsut3m5ZQ,Susan,4,2013-12-20 01:59:14,2,1,0,NaN,"pLOvDJ3zmyC9hsqcK4VD7Q, 3ZGgTuZkvM6vi8a2fkqDrQ...",0,...,0,0,0,0,0,0,0,0,0,0
99996,4ltGDeMtM_F0ORS40iUlog,Erin,39,2014-01-26 02:31:13,50,4,7,NaN,xNpXjAmA-xRBfLsR9T-mDw,0,...,0,0,0,0,0,0,0,0,0,0
99997,RcXQ_UtN-o7FtW9Dy59W5g,Sam,35,2012-07-16 17:16:26,19,6,6,NaN,"qEcneZMTQ9HbGtMvYZT8cw, yWi5JrucUn4GFeqHdQ7QpQ...",1,...,0,0,0,0,0,0,0,0,0,0
99998,sSrK8m463Q3WmfzIXOgB0g,Jared,70,2014-03-23 20:47:51,39,4,15,2016,"EsuvqZLOk0HjhLzE02RAXw, GcvW_eODuW1jDNwqHYb7kA...",5,...,0,0,0,0,1,1,0,0,1,1
99999,e78gBRj5nlcqtb2pr6pOeQ,Michele,6,2015-11-30 17:53:42,12,0,0,NaN,"99zTIhfkVTnKYwrycdCrpw, b7SLHkjFxF0VLEAP-cbk0w...",0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Read in first 1,000 records of user.json
user100000 = pd.read_csv('user1.csv')

# Drop name and friends columns
user = user100000.drop(['friends'], axis = 1)

In [10]:
# Add a new column "positive_reactions" by summing the useful, funny, cool cloumns 
user.columns.get_loc('useful') # Get the index of useful
user['positive_reactions'] = user.iloc[:, (user.columns.get_loc('useful')): (user.columns.get_loc('cool'))].sum(axis = 1)

In [11]:
# Add a new column "compliments" by summing the compliments related cloumns 
user.columns.get_loc('compliment_hot') # Get the index of compliment_hot(
user['compliments'] = user.iloc[:, (user.columns.get_loc('compliment_hot')): (user.columns.get_loc('compliment_photos'))].sum(axis = 1)

In [12]:
user_cleaned = user.drop(user.iloc[:, user.columns.get_loc('useful'): (user.columns.get_loc('cool') + 1)], axis = 1)  
user_cleaned = user_cleaned.drop(user_cleaned.iloc[:, user_cleaned.columns.get_loc('compliment_hot'): (user_cleaned.columns.get_loc('compliment_photos') + 1) ], axis = 1)

In [13]:
user_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             100000 non-null  object
 1   review_count        100000 non-null  int64
 2   yelping_since       100000 non-null  object
 3   elite               19862 non-null   object
 4   fans                100000 non-null  int64
 5   average_stars       100000 non-null  float64
 6   positive_reactions  100000 non-null  int64
 7   compliments         100000 non-null  int64
dtypes: float64(1), int64(4), object(3)
memory usage: 6.1+ MB

In [14]:
# Sort user by review count
user_cleaned.sort_values(by = ['review_count'], ascending = False)

,user_id,review_count,yelping_since,elite,fans,average_stars,positive_reactions,compliments
17169,Hi10sGSZNxQH3NLyWSZ1oA,17473,2009-05-26 11:33:58,"2014,2015,2016,2017,2018,2019,20,20,2021",3493,3.77,392119,31011
4723,hWDybu_KvYLSdEFzGrniTw,16567,2009-03-08 21:47:44,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...",867,3.67,271548,32609
152,P5bUL3Engv-2z6kKohB6qQ,9941,2006-05-31 21:27:42,"2006,2007,2008,2009,2010,2011,2012,2013,2014,2...",825,3.81,38321,5629
3977,nmdkHL2JKFx55T3nq5VziA,8363,2011-11-29 15:50:53,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...",921,3.75,86202,3502
17727,bQCHF5rn5lMI9c5kEwCaNA,8354,2012-03-18 10:04:51,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...",362,3.87,64135,3067
...,...,...,...,...,...,...,...,...
74073,7bRFlhzia8eubbpmIPz3Mw,1,2018-08-16 21:31:09,NaN,0,1.00,1,0
50871,RxG5mn6w5Q15M4oBh1L0gw,1,2017-07-25 13:18:17,NaN,0,2.00,2,0
74061,nhBJPOKnbKyFp3bm58rezQ,1,2016-11-28 21:48:57,NaN,0,1.00,1,0
90772,g3yQzHFRPnh8PxmGT7oTpg,1,2017-01-23 17:24:57,NaN,0,1.00,4,0
81766,1zEwvAm5TqJh7eqYShNVQA,0,2012-12-29 20:14:47,NaN,0,4.00,0,0

In [35]:
# Calculate the popularity of the user's review
user_cleaned['review_popularity'] = user_cleaned['positive_reactions']/user_cleaned['review_count']
user_cleaned

,user_id,review_count,yelping_since,elite,fans,average_stars,positive_reactions,compliments,review_popularity
0,qVc8ODYU5SZjKXVBgXdI7w,585,2007-01-25 16:47:26,2007,267,3.91,8476,2693,14.488889
1,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3138,3.74,56157,18685,12.960305
2,2WnXYQFK0hXEoTxPtV2zvg,665,2008-07-25 10:41:00,"2009,2010,2011,2012,2013",52,3.32,3096,567,4.655639
3,SZDeASXq7o05mMNLshsdIA,224,2005-11-29 04:38:33,"2009,2010,2011",28,4.27,842,127,3.758929
4,hA5lMy-EnncsH4JoR-hFGQ,79,2007-01-05 19:40:59,NaN,1,3.54,44,4,0.556962
...,...,...,...,...,...,...,...,...,...
99995,P6a7RG2Kk6hK5Dsut3m5ZQ,4,2013-12-20 01:59:14,NaN,0,3.75,3,0,0.750000
99996,4ltGDeMtM_F0ORS40iUlog,39,2014-01-26 02:31:13,NaN,0,3.73,54,0,1.384615
99997,RcXQ_UtN-o7FtW9Dy59W5g,35,2012-07-16 17:16:26,NaN,1,2.86,25,0,0.714286
99998,sSrK8m463Q3WmfzIXOgB0g,70,2014-03-23 20:47:51,2016,5,3.76,43,3,0.614286
99999,e78gBRj5nlcqtb2pr6pOeQ,6,2015-11-30 17:53:42,NaN,0,4.33,12,0,2.000000

In [113]:
# Calculate the number of elite a user entitled since 2015
#elite_count= user_cleaned['elite'].str.split(',', expand = True)
#elite_count

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,2007,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,20,20,2021,None,None,None
2,2009,2010,2011,2012,2013,None,None,None,None,None,None,None,None,None,None,None,None
3,2009,2010,2011,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,2010,2011,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9998,2012,2013,2014,2015,2016,2017,None,None,None,None,None,None,None,None,None,None,None
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Classification users into 4 levels

In [ ]:
#x = 'review_count_user'
#y = 'review_count_score'
#for i in review_user_business.index:
    #if review_user_business.loc[i,x] <= review_user_business[x].quantile(q = 0.25):
        #review_user_business.loc[i,y] = 1
    #if review_user_business[x].quantile(q = 0.25) < review_user_business.loc[i,x] <= review_user_business[x].quantile(q = 0.5):
        #review_user_business.loc[i,y] = 2
    #if review_user_business[x].quantile(q = 0.5) < review_user_business.loc[i,x] <= review_user_business[x].quantile(q = 0.75):
        #review_user_business.loc[i,y] = 3
    #if review_user_business[x].quantile(q = 0.75) < review_user_business.loc[i,x]:
        #review_user_business.loc[i,y] = 4

In [36]:
# Give a socre(1-4) to each user based on the average populatiry of each review and compliments received
x = 'review_popularity'
y = 'review_popularity_score'
for i in user_cleaned.index:
    if user_cleaned.loc[i,x] <= user_cleaned[x].quantile(q = 0.25):
        user_cleaned.loc[i,y] = 1
    if user_cleaned[x].quantile(q = 0.25) < user_cleaned.loc[i,x] <= user_cleaned[x].quantile(q = 0.5):
        user_cleaned.loc[i,y] = 2
    if user_cleaned[x].quantile(q = 0.5) < user_cleaned.loc[i,x] <= user_cleaned[x].quantile(q = 0.75):
        user_cleaned.loc[i,y] = 3
    if user_cleaned[x].quantile(q = 0.75) < user_cleaned.loc[i,x]:
        user_cleaned.loc[i,y] = 4

In [38]:
x = 'compliments'
y = 'compliments_score'
for i in user_cleaned.index:
    if user_cleaned.loc[i,x] <= user_cleaned[x].quantile(q = 0.25):
        user_cleaned.loc[i,y] = 1
    if user_cleaned[x].quantile(q = 0.25) < user_cleaned.loc[i,x] <= user_cleaned[x].quantile(q = 0.5):
        user_cleaned.loc[i,y] = 2
    if user_cleaned[x].quantile(q = 0.5) < user_cleaned.loc[i,x] <= user_cleaned[x].quantile(q = 0.75):
        user_cleaned.loc[i,y] = 3
    if user_cleaned[x].quantile(q = 0.75) < user_cleaned.loc[i,x]:
        user_cleaned.loc[i,y] = 4

In [40]:
user_cleaned['user_score']= user_cleaned['review_popularity_score']+ user_cleaned['compliments_score']
user_cleaned.count()

,user_id,review_count,yelping_since,elite,fans,average_stars,positive_reactions,compliments,review_popularity,review_popularity_score,compliments_score,user_score
0,qVc8ODYU5SZjKXVBgXdI7w,585,2007-01-25 16:47:26,2007,267,3.91,8476,2693,14.488889,4.0,4.0,8.0
1,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3138,3.74,56157,18685,12.960305,4.0,4.0,8.0
2,2WnXYQFK0hXEoTxPtV2zvg,665,2008-07-25 10:41:00,"2009,2010,2011,2012,2013",52,3.32,3096,567,4.655639,4.0,4.0,8.0
3,SZDeASXq7o05mMNLshsdIA,224,2005-11-29 04:38:33,"2009,2010,2011",28,4.27,842,127,3.758929,4.0,4.0,8.0
4,hA5lMy-EnncsH4JoR-hFGQ,79,2007-01-05 19:40:59,NaN,1,3.54,44,4,0.556962,1.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,P6a7RG2Kk6hK5Dsut3m5ZQ,4,2013-12-20 01:59:14,NaN,0,3.75,3,0,0.750000,2.0,1.0,3.0
99996,4ltGDeMtM_F0ORS40iUlog,39,2014-01-26 02:31:13,NaN,0,3.73,54,0,1.384615,3.0,1.0,4.0
99997,RcXQ_UtN-o7FtW9Dy59W5g,35,2012-07-16 17:16:26,NaN,1,2.86,25,0,0.714286,2.0,1.0,3.0
99998,sSrK8m463Q3WmfzIXOgB0g,70,2014-03-23 20:47:51,2016,5,3.76,43,3,0.614286,1.0,3.0,4.0
99999,e78gBRj5nlcqtb2pr6pOeQ,6,2015-11-30 17:53:42,NaN,0,4.33,12,0,2.000000,3.0,1.0,4.0

In [42]:
# Give each user a tier based on which quantile the user in
x = 'user_score'
y = 'user_tier'
for i in user_cleaned.index:
    if user_cleaned.loc[i,x] <= user_cleaned[x].quantile(q = 0.25):
        user_cleaned.loc[i,y] = 'Level 1'
    if user_cleaned[x].quantile(q = 0.25) < user_cleaned.loc[i,x] <= user_cleaned[x].quantile(q = 0.5):
        user_cleaned.loc[i,y] = 'Level 2'
    if user_cleaned[x].quantile(q = 0.5) < user_cleaned.loc[i,x] <= user_cleaned[x].quantile(q = 0.75):
        user_cleaned.loc[i,y] = 'Level 3'
    if user_cleaned[x].quantile(q = 0.75) < user_cleaned.loc[i,x]:
        user_cleaned.loc[i,y] = 'Level 4'

In [57]:
user_cleaned[user_cleaned['user_tier'].isnull()].index

Int64Index([81766], dtype='int64')

In [60]:
# Since only one user was not assigned with user tier, and becasue the user only rated the business without a detail review.
# Manulally assign the user with "Level 1"
user_cleaned['user_tier'] = user_cleaned['user_tier'].fillna('Level 1')

In [79]:
x = 'user_tier'
y = 'user_weight'
for i in user_cleaned.index:
    if user_cleaned.loc[i,x] == 'Level 1':
        user_cleaned.loc[i,y] = 0.2
    if user_cleaned.loc[i,x] == 'Level 2':
        user_cleaned.loc[i,y] = 0.23
    if user_cleaned.loc[i,x] == 'Level 3':
        user_cleaned.loc[i,y] = 0.27
    if user_cleaned.loc[i,x]== "Level 4":
        user_cleaned.loc[i,y] = 0.3

In [297]:
# Calculate the review frequency of each user (#review/year)
#user_cleaned[['yelping_year', 'yelping']] = user_cleaned['yelping_since'].str.split('-', n = 1, expand = True)
#user_cleaned['yelping'] = 2021 - (user_cleaned['yelping_year']).astype(int)
#user_cleaned['review_frequency'] = user_cleaned['review_count'] / user_cleaned['yelping']

In [31]:
# Read in review.json for review details with chuncking
#chunk_size = 500000
#batch_no = 1
#for chunk in pd.read_json('review.json',lines = True,chunksize = chunk_size):
    #chunk.to_csv('review'+str(batch_no)+'.csv',index = False)
    #batch_no += 1

In [16]:
review = pd.read_csv('review1.csv', nrows = 100000)

In [17]:
# Add a new column "positive_reactions" by summing the useful, funny, cool cloumns 
review['positive_reactions'] = review.iloc[:, review.columns.get_loc('useful'): review.columns.get_loc('cool')].sum(axis = 1)

In [18]:
# Split Year, date, and time informaotpn in column date
review[['date', 'time']] = review['date'].str.split(' ', expand=True)
review[['year', 'date']] = review['date'].str.split('-', n = 1, expand=True)
review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,positive_reactions,time,year
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",07-07,0,22:09:11,2018
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,01-03,1,15:28:18,2012
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,02-05,0,20:30:30,2014
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",01-04,1,00:01:03,2015
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,01-14,1,20:54:15,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,pAEbIxvr6ebx2bHc1XvguA,SMH5CeiLvKx61lKwtLZ_PA,lV0k3BnslFRkuWD_kbKd0Q,4,0,0,0,Came here for lunch with a group. They were bu...,05-30,0,22:28:56,2018
99996,xH1AoE-4nf2ECGQJRjO4_g,2clTdtp-BjphxLjN83CpUA,G0xz3kyRhRi6oZl7KfR0pA,1,1,0,0,The equipment is so old and so felty! I just u...,04-05,1,23:31:52,2015
99997,GatIbXTz-WDru5emONUSIg,MRrN6DH3QGCFcDv5RENYVg,C4lZdhasjZVQyDlOiXY1sA,4,0,0,0,This is one of my favorite Mexican restaurants...,06-04,0,00:59:15,2016
99998,6NfkodAdhvI89xONXuBC3A,rnNQzeKJbvqVCsYsL10mkQ,dChRGpit9fM_kZK5pafNyA,2,0,0,0,Came here for brunch - had an omlette ($19 + t...,06-11,0,12:45:08,2018
99999,sJ1BMq7lkKgOWEFx3n6ZRw,_BcWyKQL16ndpBdggh2kNA,hMcgO98QaOFmQVTfCUeGzw,5,0,0,0,Came in for my 5-6 month prophy and saw Kara -...,06-06,0,10:10:33,2013

In [19]:
# Only retain important columns
review = review.drop(['useful', 'funny', 'cool', 'text', 'date', 'time'], axis = 1)
review

,review_id,user_id,business_id,stars,positive_reactions,year
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,2018
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,2012
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,2014
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,2015
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,2017
...,...,...,...,...,...,...
99995,pAEbIxvr6ebx2bHc1XvguA,SMH5CeiLvKx61lKwtLZ_PA,lV0k3BnslFRkuWD_kbKd0Q,4,0,2018
99996,xH1AoE-4nf2ECGQJRjO4_g,2clTdtp-BjphxLjN83CpUA,G0xz3kyRhRi6oZl7KfR0pA,1,1,2015
99997,GatIbXTz-WDru5emONUSIg,MRrN6DH3QGCFcDv5RENYVg,C4lZdhasjZVQyDlOiXY1sA,4,0,2016
99998,6NfkodAdhvI89xONXuBC3A,rnNQzeKJbvqVCsYsL10mkQ,dChRGpit9fM_kZK5pafNyA,2,0,2018
99999,sJ1BMq7lkKgOWEFx3n6ZRw,_BcWyKQL16ndpBdggh2kNA,hMcgO98QaOFmQVTfCUeGzw,5,0,2013

In [20]:
# Drop review records that are earler than 2014
review_cleaned = review.loc[review['year'].astype('int') > 2014 ]

In [21]:
review_cleaned

,review_id,user_id,business_id,stars,positive_reactions,year
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,2018
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,2015
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,2017
5,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,3,2015
6,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,2,2015
...,...,...,...,...,...,...
99994,WfFp7POMpxbzzAGCCYwTWQ,x_mCS124Gjg9kN7s7A44tg,VOEN8f9WEysinBsLqbiVqg,2,0,2015
99995,pAEbIxvr6ebx2bHc1XvguA,SMH5CeiLvKx61lKwtLZ_PA,lV0k3BnslFRkuWD_kbKd0Q,4,0,2018
99996,xH1AoE-4nf2ECGQJRjO4_g,2clTdtp-BjphxLjN83CpUA,G0xz3kyRhRi6oZl7KfR0pA,1,1,2015
99997,GatIbXTz-WDru5emONUSIg,MRrN6DH3QGCFcDv5RENYVg,C4lZdhasjZVQyDlOiXY1sA,4,0,2016
99998,6NfkodAdhvI89xONXuBC3A,rnNQzeKJbvqVCsYsL10mkQ,dChRGpit9fM_kZK5pafNyA,2,0,2018

In [22]:
review_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62430 entries, 0 to 99998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   review_id           62430 non-null  object
 1   user_id             62430 non-null  object
 2   business_id         62430 non-null  object
 3   stars               62430 non-null  int64
 4   positive_reactions  62430 non-null  int64
 5   year                62430 non-null  object
dtypes: int64(2), object(4)
memory usage: 3.3+ MB

In [81]:
# Merge cleaned review and user data frames based on the common user id
review_user = pd.merge(review_cleaned, user_cleaned, how = 'inner', on = 'user_id', suffixes=('_review', '_user'))
review_user

,review_id,user_id,business_id,stars,positive_reactions_review,year,review_count,yelping_since,elite,fans,average_stars,positive_reactions_user,compliments,review_popularity,review_popularity_score,compliments_score,user_score,user_tier,user_weight
0,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,2,2015,71,2011-03-13 21:36:16,NaN,1,4.51,69,2,0.971831,2.0,2.0,4.0,Level 2,0.23
1,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,2,2015,1,2015-03-07 23:10:43,NaN,0,5.00,2,0,2.000000,3.0,1.0,4.0,Level 2,0.23
2,rGQRf8UafX7OTlMNN19I8A,1WHRWwQmZOZDAhp2Qyny4g,uMvVYRgGNXf5boolA9HXTw,5,2,2015,39,2009-01-27 21:20:30,NaN,1,4.15,77,3,1.974359,3.0,3.0,6.0,Level 3,0.27
3,u2vzZaOqJ2feRshaaF1doQ,NDZvyYHTUWWu-kqgQzzDGQ,CLEWowfkj-wKYJlQDqT1aw,5,2,2016,27,2012-02-26 05:18:05,NaN,3,2.82,79,5,2.925926,4.0,3.0,7.0,Level 3,0.27
4,lUUhg8ltDsUZ9h0xnwY4Dg,RreNy--tOmXMl1en0wiBOg,cPepkJeRMtHapc_b2Oe_dw,4,1,2018,240,2011-01-22 03:30:54,"2016,2017,2018,2019,20,20,2021",5,4.19,281,117,1.170833,2.0,4.0,6.0,Level 3,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29831,51xUjpVHIeQuSCH0wfmNVw,unP1Bs1X5mThJTYZGyurRQ,xCveOAv9FhUGAGr-qNhKuQ,4,0,2017,4,2011-10-16 20:45:53,NaN,0,4.25,3,2,0.750000,2.0,2.0,4.0,Level 2,0.23
29832,4G5GC-cAJe4cQdIb3p03zQ,VFE6CQQeTHEZt68D3NY3hA,2myVMP_l-9f9JIZewm19Cg,3,0,2017,39,2009-11-22 02:03:11,NaN,2,4.13,44,2,1.128205,2.0,2.0,4.0,Level 2,0.23
29833,c_FZdcHkNG2zhguP_zjuCw,mqJzKAJsES-ZWCkWuxSyrw,0hIXH9jMdHov1VrLC8ujUg,5,0,2018,23,2012-10-06 22:34:09,NaN,0,4.46,12,3,0.521739,1.0,3.0,4.0,Level 2,0.23
29834,gHEj_BQhIj6i_82--qmWWw,pQvoSC34zajNDBlg_E7DnQ,Fok0BLJP0OMxbbl3l6QmZA,4,0,2017,21,2014-08-29 09:03:19,NaN,0,4.71,2,0,0.095238,1.0,1.0,2.0,Level 1,0.20
29835,GatIbXTz-WDru5emONUSIg,MRrN6DH3QGCFcDv5RENYVg,C4lZdhasjZVQyDlOiXY1sA,4,0,2016,51,2009-03-27 01:21:36,NaN,2,4.02,38,2,0.745098,2.0,2.0,4.0,Level 2,0.23

In [82]:
review_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29836 entries, 0 to 29835
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   review_id                  29836 non-null  object
 1   user_id                    29836 non-null  object
 2   business_id                29836 non-null  object
 3   stars                      29836 non-null  int64
 4   positive_reactions_review  29836 non-null  int64
 5   year                       29836 non-null  object
 6   review_count               29836 non-null  int64
 7   yelping_since              29836 non-null  object
 8   elite                      8704 non-null   object
 9   fans                       29836 non-null  int64
 10  average_stars              29836 non-null  float64
 11  positive_reactions_user    29836 non-null  int64
 12  compliments                29836 non-null  int64
 13  review_popularity          29836 non-null  float64
 14  review_popularity_score    29836 non-null  float64
 15  compliments_score          29836 non-null  float64
 16  user_score                 29836 non-null  float64
 17  user_tier                  29836 non-null  object
 18  user_weight                29836 non-null  float64
dtypes: float64(6), int64(6), object(7)
memory usage: 4.6+ MB

In [238]:
# Merge with business info based on the common businsee id
review_user_business= pd.merge(review_user, business_cleaned, how = 'inner', on = 'business_id', suffixes=('_review', '_business'))

In [239]:
review_user_business.rename(columns = {'review_count_review' : 'review_count_user'}, inplace = True)
review_user_business.sort_values(by = 'business_id')

,review_id,user_id,business_id,stars_review,positive_reactions_review,year,review_count_user,yelping_since,elite,fans,...,name,address,city,state,stars_business,review_count_business,attributes,categories,hours,modified_categories
22152,XmVhfyQFqz3pQ9syFe8tyQ,gRtZB3tcWG3LLy2ge353DA,-02xFuruu85XmDn2xiynJw,5,1,2015,14,2010-06-15 03:24:07,NaN,0,...,Family Vision Center,7475 E Tanque Verde Rd,Tucson,AZ,4.5,109,"{'ByAppointmentOnly': 'True', 'BusinessParking...","Shopping, Ophthalmologists, Optometrists, Doct...","{'Monday': '0:0-0:0', 'Tuesday': '8:30-17:30',...",Health & Medical
11824,wOhCZNnXHkXO7zULuwhnzQ,5ySDM25f-GV3hO1_-KfWcA,-0Ym1Wg3bXd_TDz8JtvOQg,4,0,2018,13,2016-02-03 01:21:20,NaN,0,...,Yelo'd Ice Cream,10150A 82 Ave,Edmonton,AB,4.5,105,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Food, Ice Cream & Frozen Yogurt, Bakeries","{'Monday': '15:0-21:0', 'Tuesday': '16:0-22:0'...",Food
11825,XlXR7G9UZpaW5eGRAsoX4g,r3QexFIhBXBT99canAgVEg,-0Ym1Wg3bXd_TDz8JtvOQg,4,0,2018,1130,2008-09-15 14:53:26,"2011,2012,2013,2014,2015,2016,2017,2018,2019,2...",53,...,Yelo'd Ice Cream,10150A 82 Ave,Edmonton,AB,4.5,105,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Food, Ice Cream & Frozen Yogurt, Bakeries","{'Monday': '15:0-21:0', 'Tuesday': '16:0-22:0'...",Food
11827,Czy6Mh7Ekwherh1VQ9-nWw,HpDFWnX-56Dpgmsw4ddohA,-0Ym1Wg3bXd_TDz8JtvOQg,4,0,2018,147,2013-05-15 20:23:59,NaN,3,...,Yelo'd Ice Cream,10150A 82 Ave,Edmonton,AB,4.5,105,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Food, Ice Cream & Frozen Yogurt, Bakeries","{'Monday': '15:0-21:0', 'Tuesday': '16:0-22:0'...",Food
11828,uHkNRPclvH4LUqdFHtLCTA,weB8wGdi1A1SXh8CMCXDTw,-0Ym1Wg3bXd_TDz8JtvOQg,4,0,2018,173,2015-10-24 18:52:02,"2016,2017,2018,2019",8,...,Yelo'd Ice Cream,10150A 82 Ave,Edmonton,AB,4.5,105,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Food, Ice Cream & Frozen Yogurt, Bakeries","{'Monday': '15:0-21:0', 'Tuesday': '16:0-22:0'...",Food
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20166,FPnJc7ktyztTmzhtfATS1w,vsItw-wpOXGmdH31UwZz6g,zxpJ4Frr8Zoru-YaNzOxzw,4,0,2017,110,2014-10-13 15:12:21,"2018,2019",4,...,China Spring,8165 Hwy 100,Nashville,TN,3.5,33,"{'RestaurantsReservations': 'False', 'WiFi': '...","Chinese, Restaurants","{'Tuesday': '10:45-21:30', 'Wednesday': '10:45...",Restaurants
20167,HjVOEMmIefBoi76XK6ZyZA,pPudLW-82xdx2aG0xLLbww,zxpJ4Frr8Zoru-YaNzOxzw,4,0,2017,11,2013-09-22 21:11:38,NaN,0,...,China Spring,8165 Hwy 100,Nashville,TN,3.5,33,"{'RestaurantsReservations': 'False', 'WiFi': '...","Chinese, Restaurants","{'Tuesday': '10:45-21:30', 'Wednesday': '10:45...",Restaurants
21979,nlIq054A3AyuEJuWzj6zfA,FJf1k333aqmmMaMTv-CFNA,zzIF9qp2UoHN48EeZH_IDg,5,0,2017,41,2016-07-08 22:37:42,NaN,1,...,Domino's Pizza,40188 US Hwy 19 N,Tarpon Springs,FL,3.0,19,"{'RestaurantsReservations': 'False', 'Ambience...","Italian, Restaurants, Pizza, Chicken Wings, Sa...","{'Monday': '10:30-1:0', 'Tuesday': '10:30-1:0'...",Restaurants
21978,nphkbzp_6xTKKijUpkfqHQ,gt883cPTegw3uCJsUhYC2g,zzIF9qp2UoHN48EeZH_IDg,5,0,2016,16,2014-10-30 02:57:16,NaN,0,...,Domino's Pizza,40188 US Hwy 19 N,Tarpon Springs,FL,3.0,19,"{'RestaurantsReservations': 'False', 'Ambience...","Italian, Restaurants, Pizza, Chicken Wings, Sa...","{'Monday': '10:30-1:0', 'Tuesday': '10:30-1:0'...",Restaurants
21597,FtyydqPfz68cJ_Bn0aK3Xw,Gu_zJwYF3dGvOgUp7E6GAA,zzjFdJwXuxBOGe9JeY_EMw,4,1,2016,73,2009-10-03 01:47:52,NaN,7,...,Taste of the Islands,1500 Powell St,Norristown,PA,4.0,47,"{'RestaurantsTableService': 'False', 'Business...","Caribbean, Restaurants","{'Monday': '11:30-20:0', 'Tuesday': '11:30-20:...",Restaurants

In [241]:
review_user_business.groupby(by = 'business_id', as_index = False).count()
# 4058 unique business

,business_id,review_id,user_id,stars_review,positive_reactions_review,year,review_count_user,yelping_since,elite,fans,...,name,address,city,state,stars_business,review_count_business,attributes,categories,hours,modified_categories
0,-02xFuruu85XmDn2xiynJw,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
1,-0Ym1Wg3bXd_TDz8JtvOQg,6,6,6,6,6,6,6,3,6,...,6,6,6,6,6,6,6,6,6,6
2,-1MhPXk1FglglUAmuPLIGg,2,2,2,2,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2
3,-1ueCbvIpUPi8KT95ETTKw,9,9,9,9,9,9,9,0,9,...,9,9,9,9,9,9,9,9,9,9
4,-2ke_JDOpgTZWqirMFjZcw,3,3,3,3,3,3,3,2,3,...,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4053,zwXT4m9svdg-xh2cKjEp-Q,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
4054,zxY4DgtXsVHihSUpsmwamg,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,1
4055,zxpJ4Frr8Zoru-YaNzOxzw,2,2,2,2,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2
4056,zzIF9qp2UoHN48EeZH_IDg,2,2,2,2,2,2,2,0,2,...,2,2,2,2,2,2,2,2,2,2
4057,zzjFdJwXuxBOGe9JeY_EMw,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1

In [205]:
# Define a new founction to count the weighted averge stars by combining all reviews of a business
def w_avg (df, stars_review, user_weight):
    stars = df[stars_review] 
    weight = df[stars_review]
    return (stars * weight).sum()/ weight.sum()

In [206]:
weighted_stars= review_user_business.groupby(by = 'business_id', as_index = False).apply(w_avg, 'stars_review', 'user_weight')
weighted_stars

                 business_id      None
0     -02xFuruu85XmDn2xiynJw  5.000000
1     -0Ym1Wg3bXd_TDz8JtvOQg  4.384615
2     -1MhPXk1FglglUAmuPLIGg  4.555556
3     -1ueCbvIpUPi8KT95ETTKw  4.500000
4     -2ke_JDOpgTZWqirMFjZcw  4.200000
...                      ...       ...
4053  zwXT4m9svdg-xh2cKjEp-Q  5.000000
4054  zxY4DgtXsVHihSUpsmwamg  5.000000
4055  zxpJ4Frr8Zoru-YaNzOxzw  4.000000
4056  zzIF9qp2UoHN48EeZH_IDg  5.000000
4057  zzjFdJwXuxBOGe9JeY_EMw  4.000000

[4058 rows x 2 columns]

In [220]:
weighted_stars = weighted_stars.rename(columns = str).rename(columns = {'None': 'weighted_stars'})
weighted_stars['weighted_stars'] = weighted_stars['weighted_stars'].apply(lambda x: round(x,1))
weighted_stars

                 business_id  weighted_stars
0     -02xFuruu85XmDn2xiynJw             5.0
1     -0Ym1Wg3bXd_TDz8JtvOQg             4.4
2     -1MhPXk1FglglUAmuPLIGg             4.6
3     -1ueCbvIpUPi8KT95ETTKw             4.5
4     -2ke_JDOpgTZWqirMFjZcw             4.2
...                      ...             ...
4053  zwXT4m9svdg-xh2cKjEp-Q             5.0
4054  zxY4DgtXsVHihSUpsmwamg             5.0
4055  zxpJ4Frr8Zoru-YaNzOxzw             4.0
4056  zzIF9qp2UoHN48EeZH_IDg             5.0
4057  zzjFdJwXuxBOGe9JeY_EMw             4.0

[4058 rows x 2 columns]

In [242]:
new_stars = weighted_stars.merge(business_cleaned[['business_id','stars']], how = 'left')
new_stars

                 business_id  weighted_stars  stars
0     -02xFuruu85XmDn2xiynJw             5.0    4.5
1     -0Ym1Wg3bXd_TDz8JtvOQg             4.4    4.5
2     -1MhPXk1FglglUAmuPLIGg             4.6    4.0
3     -1ueCbvIpUPi8KT95ETTKw             4.5    4.0
4     -2ke_JDOpgTZWqirMFjZcw             4.2    3.5
...                      ...             ...    ...
4053  zwXT4m9svdg-xh2cKjEp-Q             5.0    3.5
4054  zxY4DgtXsVHihSUpsmwamg             5.0    4.5
4055  zxpJ4Frr8Zoru-YaNzOxzw             4.0    3.5
4056  zzIF9qp2UoHN48EeZH_IDg             5.0    3.0
4057  zzjFdJwXuxBOGe9JeY_EMw             4.0    4.0

[4058 rows x 3 columns]

In [243]:
# Calculate the mean of the stars displayed by Yelp and weighted stars as a new star for each business 
new_stars['new_stars'] = (new_stars['weighted_stars'] + new_stars['stars'])/2
new_stars['new_stars'] = new_stars['new_stars'].apply(lambda x: round(x,1))
new_stars.drop(['stars'], axis = 1, inplace = True)
new_stars

                 business_id  weighted_stars  new_stars
0     -02xFuruu85XmDn2xiynJw             5.0        4.8
1     -0Ym1Wg3bXd_TDz8JtvOQg             4.4        4.5
2     -1MhPXk1FglglUAmuPLIGg             4.6        4.3
3     -1ueCbvIpUPi8KT95ETTKw             4.5        4.2
4     -2ke_JDOpgTZWqirMFjZcw             4.2        3.9
...                      ...             ...        ...
4053  zwXT4m9svdg-xh2cKjEp-Q             5.0        4.2
4054  zxY4DgtXsVHihSUpsmwamg             5.0        4.8
4055  zxpJ4Frr8Zoru-YaNzOxzw             4.0        3.8
4056  zzIF9qp2UoHN48EeZH_IDg             5.0        4.0
4057  zzjFdJwXuxBOGe9JeY_EMw             4.0        4.0

[4058 rows x 3 columns]

In [244]:
new_business = business_cleaned.merge(new_stars, how = 'right')
new_business

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours,modified_categories,weighted_stars,new_stars
0,-02xFuruu85XmDn2xiynJw,Family Vision Center,7475 E Tanque Verde Rd,Tucson,AZ,4.5,109,"{'ByAppointmentOnly': 'True', 'BusinessParking...","Shopping, Ophthalmologists, Optometrists, Doct...","{'Monday': '0:0-0:0', 'Tuesday': '8:30-17:30',...",Health & Medical,5.0,4.8
1,-0Ym1Wg3bXd_TDz8JtvOQg,Yelo'd Ice Cream,10150A 82 Ave,Edmonton,AB,4.5,105,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Food, Ice Cream & Frozen Yogurt, Bakeries","{'Monday': '15:0-21:0', 'Tuesday': '16:0-22:0'...",Food,4.4,4.5
2,-1MhPXk1FglglUAmuPLIGg,Red Garter Saloon,3143 E Speedway Blvd,Tucson,AZ,4.0,107,"{'RestaurantsPriceRange2': '1', 'HasTV': 'True...","Nightlife, Burgers, Sports Bars, Bars, Restaur...","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",Nightlife,4.6,4.3
3,-1ueCbvIpUPi8KT95ETTKw,Hyatt Place Reno-Tahoe Airport,1790 E Plumb Ln,Reno,NV,4.0,167,"{'RestaurantsPriceRange2': '2', 'WiFi': 'u'fre...","Hotels, Hotels & Travel, Event Planning & Serv...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",Event Planning & Services,4.5,4.2
4,-2ke_JDOpgTZWqirMFjZcw,Nite Owls Saloon & Grill,3535 S Emerson Ave,Beech Grove,IN,3.5,17,"{'Alcohol': ''full_bar'', 'OutdoorSeating': 'F...","Karaoke, American (Traditional), Restaurants, ...","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",Nightlife,4.2,3.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4053,zwXT4m9svdg-xh2cKjEp-Q,Plaza Azteca - Kennett Square,186 Onix Dr,Kennett Square,PA,3.5,86,"{'OutdoorSeating': 'False', 'HasTV': 'True', '...","Mexican, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",Restaurants,5.0,4.2
4054,zxY4DgtXsVHihSUpsmwamg,P & S Ravioli,1640 S 10th St,Philadelphia,PA,4.5,6,"{'RestaurantsTakeOut': 'True', 'GoodForKids': ...","Food, Do-It-Yourself Food, Restaurants, Italian",None,Food,5.0,4.8
4055,zxpJ4Frr8Zoru-YaNzOxzw,China Spring,8165 Hwy 100,Nashville,TN,3.5,33,"{'RestaurantsReservations': 'False', 'WiFi': '...","Chinese, Restaurants","{'Tuesday': '10:45-21:30', 'Wednesday': '10:45...",Restaurants,4.0,3.8
4056,zzIF9qp2UoHN48EeZH_IDg,Domino's Pizza,40188 US Hwy 19 N,Tarpon Springs,FL,3.0,19,"{'RestaurantsReservations': 'False', 'Ambience...","Italian, Restaurants, Pizza, Chicken Wings, Sa...","{'Monday': '10:30-1:0', 'Tuesday': '10:30-1:0'...",Restaurants,5.0,4.0
4057,zzjFdJwXuxBOGe9JeY_EMw,Taste of the Islands,1500 Powell St,Norristown,PA,4.0,47,"{'RestaurantsTableService': 'False', 'Business...","Caribbean, Restaurants","{'Monday': '11:30-20:0', 'Tuesday': '11:30-20:...",Restaurants,4.0,4.0

In [250]:
new_business.sort_values(by = ['new_stars', 'review_count'], ascending = False)

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours,modified_categories,weighted_stars,new_stars
2361,_aKr7POnacW_VizRKBpCiA,Blues City Deli,2438 McNair Ave,Saint Louis,MO,5.0,991,"{'BikeParking': 'True', 'RestaurantsAttire': '...","Delis, Bars, Restaurants, Nightlife, Pubs, Ame...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-15:0',...",Nightlife,4.9,5.0
3455,qjGS_7iaQDpbVhS6W8qkHQ,The Sweet Life Bakeshop,740 South St,Philadelphia,PA,5.0,316,"{'BusinessAcceptsBitcoin': 'False', 'NoiseLeve...","Food, Cupcakes, Desserts, Bakeries","{'Monday': '0:0-0:0', 'Tuesday': '11:0-18:30',...",Food,5.0,5.0
151,14JwHj1Cxs5bkkJg5iuPog,Alpine Lock and Key,811 Ryland St,Reno,NV,5.0,234,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Gunsmith, Local Services, Keys & Locksmiths, B...","{'Monday': '8:0-16:30', 'Tuesday': '8:0-16:30'...",Home Services,5.0,5.0
3505,rQ2CSHRkZSn5WCu7OfVI-Q,Trend Eye Care,"180 W Girard Ave, Ste 5",Philadelphia,PA,5.0,193,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Health & Medical, Shopping, Fashion, Optometri...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ...",Health & Medical,5.0,5.0
1060,FDTwPQ4CNWEOY0rfh4eTzQ,ParadICE Hawaiian Shave Ice & Ice Cream,"11 W De La Guerra St, Unit A, Paseo Nuevo Mall",Santa Barbara,CA,5.0,192,"{'DogsAllowed': 'True', 'BusinessAcceptsCredit...","Food, Caterers, Event Planning & Services, Ice...","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...",Event Planning & Services,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,UcB-1e0M_3K07LFQRU0n8Q,DeSelms Real Estate,"3325 Aspen Grove Dr, Ste 201",Franklin,TN,3.0,6,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Real Estate, Commercial Real Estate, Real Esta...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",Home Services,1.0,2.0
493,6JqYBhlrlwuMudi4VsLFKA,Shell Starwash & Mart,2595 Maryland Rd,Willow Grove,PA,3.0,5,None,"Car Wash, Automotive, Gas Stations",None,Automotive,1.0,2.0
1198,HX2V_Mv1wZoe9q-YVuYh_A,Weekiwachee Preserve,2345 Osowaw Blvd,Spring Hill,FL,3.0,5,None,"Hiking, Boating, Active Life",None,Active Life,1.0,2.0
2033,VT-0pWzJxl9r3ZYoEbuUQA,Concord Pet Foods and Supplies,2800 Concord Pike,Wilmington,DE,3.0,5,None,"Pets, Pet Stores",None,Pets,1.0,2.0
2578,d3v51cMiLdNvn0GevIQDeg,McDonald's,102 Niagara Ave,East Alton,IL,3.0,5,"{'RestaurantsTakeOut': 'True', 'OutdoorSeating...","Burgers, Restaurants, Coffee & Tea, Fast Food,...","{'Monday': '5:0-23:0', 'Tuesday': '5:0-23:0', ...",Food,1.0,2.0

In [249]:
new_business.groupby(by = 'modified_categories').count().sort_values(by = 'business_id', ascending = False)

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours,weighted_stars,new_stars
modified_categories,,,,,,,,,,,,
Food,898,898,898,898,898,898,898,894,898,829,898,898
Restaurants,737,737,737,737,737,737,737,737,737,692,737,737
Beauty & Spas,384,384,384,384,384,384,384,380,384,351,384,384
Event Planning & Services,316,316,316,316,316,316,316,315,316,286,316,316
Nightlife,257,257,257,257,257,257,257,257,257,236,257,257
Active Life,252,252,252,252,252,252,252,248,252,197,252,252
Automotive,246,246,246,246,246,246,246,224,246,231,246,246
Arts & Entertainment,186,186,186,186,186,186,186,185,186,149,186,186
Shopping,173,173,173,173,173,173,173,170,173,159,173,173
Home Services,169,169,169,169,169,169,169,160,169,164,169,169
Health & Medical,133,133,133,133,133,133,133,127,133,118,133,133
Local Services,112,112,112,112,112,112,112,110,112,99,112,112
Pets,92,92,92,92,92,92,92,23,92,87,92,92
Hotels & Travel,34,34,34,34,34,34,34,12,34,25,34,34
Education,23,23,23,23,23,23,23,18,23,20,23,23
Local Flavor,16,16,16,16,16,16,16,15,16,12,16,16
Financial Services,9,9,9,9,9,9,9,6,9,8,9,9
Public Services & Government,9,9,9,9,9,9,9,2,9,6,9,9
Professional Services,6,6,6,6,6,6,6,1,6,6,6,6
Religious Organizations,4,4,4,4,4,4,4,2,4,2,4,4
Mass Media,2,2,2,2,2,2,2,1,2,1,2,2

In [253]:
new_business.groupby(by = 'modified_categories').get_group('Food').sort_values(by = ['new_stars', 'review_count'], ascending = False)

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours,modified_categories,weighted_stars,new_stars
3455,qjGS_7iaQDpbVhS6W8qkHQ,The Sweet Life Bakeshop,740 South St,Philadelphia,PA,5.0,316,"{'BusinessAcceptsBitcoin': 'False', 'NoiseLeve...","Food, Cupcakes, Desserts, Bakeries","{'Monday': '0:0-0:0', 'Tuesday': '11:0-18:30',...",Food,5.0,5.0
1462,LjgiE_EbpBdIz4JyVUioTQ,Chicago Paulies,1301 N Howard Ave,Tampa,FL,5.0,186,"{'HasTV': 'False', 'RestaurantsAttire': ''casu...","Hot Dogs, Vegetarian, Burgers, Restaurants, Fo...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-15:0', ...",Food,5.0,5.0
3220,mmBwAe9q062vKWanRfoagQ,Free Tours By Foot,"20 N 3rd St, Ste 201",Philadelphia,PA,5.0,184,None,"Hotels & Travel, Walking Tours, Tours, Food Tours","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ...",Food,5.0,5.0
1400,KTGEa8V9ec0QBYM_uk1YLQ,Czerw's Kielbasy,3370 Tilton St,Philadelphia,PA,5.0,150,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Food, Specialty Food, Meat Shops","{'Tuesday': '8:0-16:30', 'Wednesday': '8:0-16:...",Food,5.0,5.0
2598,dISs1oH_xeNAOOEcmJiGZQ,Cajun Kate's,1362 Naamans Creek Rd,Boothwyn,PA,5.0,140,"{'GoodForKids': 'True', 'RestaurantsReservatio...","Food, Restaurants, Cajun/Creole","{'Friday': '9:0-21:0', 'Saturday': '9:0-20:0'}",Food,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,SjJOV-PB8E1Wlhjm2g1oNw,St. Louis Bread,"1837 Homer Adams Pkwy, Ste B",Alton,IL,3.0,23,"{'Ambience': '{'romantic': False, 'intimate': ...","Food, Soup, Breakfast & Brunch, Bagels, Salad,...","{'Monday': '6:0-20:0', 'Tuesday': '6:0-20:0', ...",Food,1.0,2.0
3117,l9T4mjgxMY7oLA5Bq7MmOQ,ACME Markets,260 Dunns Mills Rd,Bordentown,NJ,3.0,20,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Drugstores, Food, Grocery, Department Stores, ...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-0:0', 'W...",Food,1.0,2.0
1819,Rohb8_C1EuwmiTBojwex5Q,Walmart Neighborhood Market,3265 Manhattan Blvd,Harvey,LA,3.0,13,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Drugstores, Department Stores, Shopping, Groce...","{'Monday': '6:0-23:0', 'Tuesday': '6:0-23:0', ...",Food,1.0,2.0
3629,tHq2BHHqam5eiOQkFpFcBA,3am Liquor,33381 US Hwy 19 N,Palm Harbor,FL,3.0,7,"{'RestaurantsTakeOut': 'False', 'WheelchairAcc...","Beer, Wine & Spirits, Food","{'Monday': '10:0-1:0', 'Tuesday': '10:0-1:0', ...",Food,1.0,2.0
2578,d3v51cMiLdNvn0GevIQDeg,McDonald's,102 Niagara Ave,East Alton,IL,3.0,5,"{'RestaurantsTakeOut': 'True', 'OutdoorSeating...","Burgers, Restaurants, Coffee & Tea, Fast Food,...","{'Monday': '5:0-23:0', 'Tuesday': '5:0-23:0', ...",Food,1.0,2.0

In [255]:
new_business.groupby(by = 'modified_categories').get_group('Restaurants').sort_values(by = ['new_stars', 'review_count'], ascending = False)

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours,modified_categories,weighted_stars,new_stars
2550,caYHsI0eWE0UyEcSm04uMQ,Simply Delicious - Country Market & Deli,2128 9th Ave N,Saint Petersburg,FL,5.0,89,"{'Alcohol': 'u'none'', 'Caters': 'False', 'WiF...","Restaurants, Delis, Cuban, Sandwiches, Spanish","{'Monday': '11:30-17:0', 'Tuesday': '11:30-17:...",Restaurants,5.0,5.0
3209,mYbEGFsRcA0tfUNSYcBJMA,Golden River Restaurant,"8 E Scott St, Ste 10",Riverside,NJ,5.0,8,"{'RestaurantsReservations': 'False', 'Restaura...","American (New), Restaurants",None,Restaurants,5.0,5.0
3032,jjK2eJS43eMBQEBddYldnA,Guru's Indian Cuisine,203 N Sycamore St,Newtown,PA,4.5,356,"{'RestaurantsGoodForGroups': 'True', 'BikePark...","Restaurants, Indian","{'Monday': '0:0-0:0', 'Wednesday': '17:0-22:0'...",Restaurants,5.0,4.8
2185,XyGRDrgCK0z4CiA6nhwEaw,Persian Room Fine Dining,"9290 N Thornydale Rd, Ste 100",Tucson,AZ,4.5,258,"{'Alcohol': ''full_bar'', 'GoodForMeal': '{'de...","Restaurants, Persian/Iranian, Mediterranean","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3...",Restaurants,5.0,4.8
1468,LnQRfj3pPz0369stRnwUWw,Sushi Ushi,1713 State Rd 60 E,Valrico,FL,4.5,256,"{'OutdoorSeating': 'False', 'RestaurantsReserv...","Japanese, Sushi Bars, Restaurants","{'Tuesday': '16:30-21:30', 'Wednesday': '16:30...",Restaurants,5.0,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529,cGa8ySpfmtfQKPkHJKHnUw,Michael's Family Restaurant,709 Bethlehem Pike,Montgomeryville,PA,3.0,81,"{'BikeParking': 'False', 'BusinessAcceptsCredi...","Restaurants, Breakfast & Brunch, Diners, Sandw...","{'Monday': '6:0-6:0', 'Tuesday': '6:0-6:0', 'W...",Restaurants,1.0,2.0
2600,dJUXONEvGDoxM3EPTzfY7g,The Rice House,8438 N Lindbergh Blvd,Florissant,MO,3.0,78,"{'BikeParking': 'False', 'RestaurantsDelivery'...","Vietnamese, Restaurants, Chinese, Asian Fusion","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",Restaurants,1.0,2.0
3269,ncoNsZxXNLGPeunBkL4I4w,Checkers Pizza,10658 82 Avenue NW,Edmonton,AB,3.0,17,"{'NoiseLevel': 'u'quiet'', 'Caters': 'True', '...","Restaurants, Pizza","{'Monday': '11:0-1:0', 'Tuesday': '11:0-1:0', ...",Restaurants,1.0,2.0
2186,XyR_5dGY1-SqPUQ48_6R0w,Hing Wah Restaurant,"7801 New Falls Rd, Ste B",Levittown,PA,3.0,13,"{'NoiseLevel': 'u'quiet'', 'RestaurantsGoodFor...","Chinese, Restaurants",None,Restaurants,1.0,2.0
1552,N4D_ttKAx6tcj4Q0Jnvoaw,Papa Murphy's,2412 South Apple Street,Boise,ID,3.0,9,"{'RestaurantsReservations': 'False', 'Restaura...","Pizza, Restaurants",None,Restaurants,1.0,2.0

In [262]:
new_business.groupby(by = 'state').get_group('PA').sort_values(by = ['new_stars', 'review_count'])

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours,modified_categories,weighted_stars,new_stars
493,6JqYBhlrlwuMudi4VsLFKA,Shell Starwash & Mart,2595 Maryland Rd,Willow Grove,PA,3.0,5,None,"Car Wash, Automotive, Gas Stations",None,Automotive,1.0,2.0
349,3qud1ZweO0CpkEfOhZCwGA,Five Below,1529 Chestnut St,Philadelphia,PA,3.0,7,"{'BikeParking': 'False', 'BusinessParking': '{...","Discount Store, Shopping",None,Shopping,1.0,2.0
1908,TGr9-KKNk_o7HzqvtlKomQ,Window World of Philadelphia,253 Horsham Rd,Horsham,PA,3.0,12,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Windows Installation, Home Services, Door Sale...","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...",Home Services,1.0,2.0
2186,XyR_5dGY1-SqPUQ48_6R0w,Hing Wah Restaurant,"7801 New Falls Rd, Ste B",Levittown,PA,3.0,13,"{'NoiseLevel': 'u'quiet'', 'RestaurantsGoodFor...","Chinese, Restaurants",None,Restaurants,1.0,2.0
1722,QA1wjE4gcIPP_AuBjB_Y9Q,Target,800 Rock Hill Dr,Bensalem,PA,3.0,23,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Department Stores, Shopping, Food, Furniture S...","{'Monday': '0:0-0:0', 'Tuesday': '7:0-23:59', ...",Food,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,KTGEa8V9ec0QBYM_uk1YLQ,Czerw's Kielbasy,3370 Tilton St,Philadelphia,PA,5.0,150,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Food, Specialty Food, Meat Shops","{'Tuesday': '8:0-16:30', 'Wednesday': '8:0-16:...",Food,5.0,5.0
3046,jvCNijeK9ZOf2Vb6pGNySg,Bury The Hatchet,"1719 Washington Ave, Fl 2",Philadelphia,PA,5.0,153,"{'WheelchairAccessible': 'False', 'BusinessPar...","Local Flavor, Recreation Centers, Amateur Spor...","{'Monday': '12:0-21:0', 'Tuesday': '12:0-21:0'...",Active Life,5.0,5.0
3220,mmBwAe9q062vKWanRfoagQ,Free Tours By Foot,"20 N 3rd St, Ste 201",Philadelphia,PA,5.0,184,None,"Hotels & Travel, Walking Tours, Tours, Food Tours","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ...",Food,5.0,5.0
3505,rQ2CSHRkZSn5WCu7OfVI-Q,Trend Eye Care,"180 W Girard Ave, Ste 5",Philadelphia,PA,5.0,193,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Health & Medical, Shopping, Fashion, Optometri...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ...",Health & Medical,5.0,5.0
3455,qjGS_7iaQDpbVhS6W8qkHQ,The Sweet Life Bakeshop,740 South St,Philadelphia,PA,5.0,316,"{'BusinessAcceptsBitcoin': 'False', 'NoiseLeve...","Food, Cupcakes, Desserts, Bakeries","{'Monday': '0:0-0:0', 'Tuesday': '11:0-18:30',...",Food,5.0,5.0

In [263]:
new_business.to_csv('new_business.csv')

In [319]:
user_cleaned.to_csv('new_user.csv')

In [272]:
new_business[['name']].drop_duplicates()

                                name
0               Family Vision Center
1                   Yelo'd Ice Cream
2                  Red Garter Saloon
3     Hyatt Place Reno-Tahoe Airport
4           Nite Owls Saloon & Grill
...                              ...
4052                     Queen Sheba
4053   Plaza Azteca - Kennett Square
4054                   P & S Ravioli
4055                    China Spring
4057            Taste of the Islands

[3784 rows x 1 columns]

In [288]:
new_business

,business_id,name,address,city,state,stars,review_count,attributes,categories,hours,modified_categories,weighted_stars,new_stars
0,-02xFuruu85XmDn2xiynJw,Family Vision Center,7475 E Tanque Verde Rd,Tucson,AZ,4.5,109,"{'ByAppointmentOnly': 'True', 'BusinessParking...","Shopping, Ophthalmologists, Optometrists, Doct...","{'Monday': '0:0-0:0', 'Tuesday': '8:30-17:30',...",Health & Medical,5.0,4.8
1,-0Ym1Wg3bXd_TDz8JtvOQg,Yelo'd Ice Cream,10150A 82 Ave,Edmonton,AB,4.5,105,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Food, Ice Cream & Frozen Yogurt, Bakeries","{'Monday': '15:0-21:0', 'Tuesday': '16:0-22:0'...",Food,4.4,4.5
2,-1MhPXk1FglglUAmuPLIGg,Red Garter Saloon,3143 E Speedway Blvd,Tucson,AZ,4.0,107,"{'RestaurantsPriceRange2': '1', 'HasTV': 'True...","Nightlife, Burgers, Sports Bars, Bars, Restaur...","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",Nightlife,4.6,4.3
3,-1ueCbvIpUPi8KT95ETTKw,Hyatt Place Reno-Tahoe Airport,1790 E Plumb Ln,Reno,NV,4.0,167,"{'RestaurantsPriceRange2': '2', 'WiFi': 'u'fre...","Hotels, Hotels & Travel, Event Planning & Serv...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",Event Planning & Services,4.5,4.2
4,-2ke_JDOpgTZWqirMFjZcw,Nite Owls Saloon & Grill,3535 S Emerson Ave,Beech Grove,IN,3.5,17,"{'Alcohol': ''full_bar'', 'OutdoorSeating': 'F...","Karaoke, American (Traditional), Restaurants, ...","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",Nightlife,4.2,3.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4053,zwXT4m9svdg-xh2cKjEp-Q,Plaza Azteca - Kennett Square,186 Onix Dr,Kennett Square,PA,3.5,86,"{'OutdoorSeating': 'False', 'HasTV': 'True', '...","Mexican, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",Restaurants,5.0,4.2
4054,zxY4DgtXsVHihSUpsmwamg,P & S Ravioli,1640 S 10th St,Philadelphia,PA,4.5,6,"{'RestaurantsTakeOut': 'True', 'GoodForKids': ...","Food, Do-It-Yourself Food, Restaurants, Italian",None,Food,5.0,4.8
4055,zxpJ4Frr8Zoru-YaNzOxzw,China Spring,8165 Hwy 100,Nashville,TN,3.5,33,"{'RestaurantsReservations': 'False', 'WiFi': '...","Chinese, Restaurants","{'Tuesday': '10:45-21:30', 'Wednesday': '10:45...",Restaurants,4.0,3.8
4056,zzIF9qp2UoHN48EeZH_IDg,Domino's Pizza,40188 US Hwy 19 N,Tarpon Springs,FL,3.0,19,"{'RestaurantsReservations': 'False', 'Ambience...","Italian, Restaurants, Pizza, Chicken Wings, Sa...","{'Monday': '10:30-1:0', 'Tuesday': '10:30-1:0'...",Restaurants,5.0,4.0
4057,zzjFdJwXuxBOGe9JeY_EMw,Taste of the Islands,1500 Powell St,Norristown,PA,4.0,47,"{'RestaurantsTableService': 'False', 'Business...","Caribbean, Restaurants","{'Monday': '11:30-20:0', 'Tuesday': '11:30-20:...",Restaurants,4.0,4.0

In [321]:
user_cleaned.sort_values(by = 'review_count')

,user_id,review_count,yelping_since,elite,fans,average_stars,positive_reactions,compliments,review_popularity,review_popularity_score,compliments_score,user_score,user_tier,user_weight,yelping_year,yelping,review_frequency
81766,1zEwvAm5TqJh7eqYShNVQA,0,2012-12-29 20:14:47,NaN,0,4.00,0,0,NaN,NaN,1.0,NaN,Level 1,0.2,2012,9,0.000000
79137,d5uyKYjXuLoNlMfiC6HINw,1,2012-11-28 03:39:16,NaN,0,2.00,1,0,1.000000,2.0,1.0,3.0,Level 1,0.2,2012,9,0.111111
98107,SBqy4p9x5bMOE32tUQy0yQ,1,2015-05-10 16:09:20,NaN,0,1.00,0,0,0.000000,1.0,1.0,2.0,Level 1,0.2,2015,6,0.166667
97350,Zu06l2cRXdIglwJ_ZOzQ9w,1,2013-09-27 16:28:37,NaN,0,5.00,0,0,0.000000,1.0,1.0,2.0,Level 1,0.2,2013,8,0.125000
56429,Zw84xcOGThm32_rG_lKiQg,1,2017-02-14 20:18:06,NaN,0,5.00,1,0,1.000000,2.0,1.0,3.0,Level 1,0.2,2017,4,0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17727,bQCHF5rn5lMI9c5kEwCaNA,8354,2012-03-18 10:04:51,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...",362,3.87,64135,3067,7.677161,4.0,4.0,8.0,Level 4,0.3,2012,9,928.222222
3977,nmdkHL2JKFx55T3nq5VziA,8363,2011-11-29 15:50:53,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...",921,3.75,86202,3502,10.307545,4.0,4.0,8.0,Level 4,0.3,2011,10,836.300000
152,P5bUL3Engv-2z6kKohB6qQ,9941,2006-05-31 21:27:42,"2006,2007,2008,2009,2010,2011,2012,2013,2014,2...",825,3.81,38321,5629,3.854844,4.0,4.0,8.0,Level 4,0.3,2006,15,662.733333
4723,hWDybu_KvYLSdEFzGrniTw,16567,2009-03-08 21:47:44,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...",867,3.67,271548,32609,16.390898,4.0,4.0,8.0,Level 4,0.3,2009,12,1380.583333
17169,Hi10sGSZNxQH3NLyWSZ1oA,17473,2009-05-26 11:33:58,"2014,2015,2016,2017,2018,2019,20,20,2021",3493,3.77,392119,31011,22.441424,4.0,4.0,8.0,Level 4,0.3,2009,12,1456.083333